<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <script src="../../static/js/jquery-3.3.1.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <script>
        $(function () {

        })
    </script>

</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel-group" id="panel_group">
                <!--面板-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <a href="#aa" data-toggle="collapse" data-parent="#panel_group">这是第一个面板</a>
                        </div>
                    </div>
                    <div class="panel-collapse collapse" id="aa">
                        <div class="panel-body">
                            <p>这是面板的内容</p>
                            <p>这是面板的内容</p>
                            <p>这是面板的内容</p>
                            <p>这是面板的内容</p>
                        </div>
                    </div>
                </div>
                <!--面板-->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <a href="#bb" data-toggle="collapse" data-parent="#panel_group">这是第一个面板</a>
                        </div>
                    </div>
                    <div class="panel-collapse collapse" id="bb">
                        <div class="panel-body">
                            <p>这是面板的内容</p>
                            <p>这是面板的内容</p>
                            <p>这是面板的内容</p>
                            <p>这是面板的内容</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-9"></div>
    </div>
</div>
</body>
</html>